iOS/Web References/desa.gmx.com.mx/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="get_catalogos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procedimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parametros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_catalogosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_catalogosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_Emision">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id_Agente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_Agente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rfc_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Calle_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="No_Ext_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="No_Int_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cp_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Colonia_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Municipio_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Poliza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estatus_Transaccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Operacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Autorizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tarjeta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Respuesta_Xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Genero_Recibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Especialidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubEspecialidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaPro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaEsp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Otros" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Suma_Asegurada" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Arrendatario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Vigencia_Ini" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Vigencia_Fin" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Emision" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="PrimaNeta" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Derechos" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Iva" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="PrimaTotal" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Tipo_Negocio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="No_Empleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Centro_Work" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Puesto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RfcFis" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomicilioFis" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="movimiento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MSI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Especialidad2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaEsp2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PolizasAnt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PolAnt1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoSocioEspanol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaEspecialidad2_ABC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Especialidad2_ABC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCredencializacionTecSalud" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecRetroactiva" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="MatriculaImss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CentroTrabajoImss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoContratoImss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoEmpleadoEnf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdscripcionEnf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PuestoEnf" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen_APP" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_EmisionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_EmisionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_emision_Bitacora">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id_Agente" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="txt_Agente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Rfc_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombre_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Calle_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="No_Ext_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="No_Int_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Telefono_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cp_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Colonia_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Municipio_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email_Cliente" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Poliza" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Referencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estatus_Transaccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Operacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Autorizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tarjeta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Respuesta_Xml" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Genero_Recibo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Especialidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubEspecialidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaPro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaEsp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Otros" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Suma_Asegurada" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Arrendatario" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Vigencia_Ini" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Vigencia_Fin" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Emision" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="PrimaNeta" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Derechos" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="Iva" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="PrimaTotal" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Tipo_Negocio" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="No_Empleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Centro_Work" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Puesto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RfcFis" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DomicilioFis" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="movimiento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="MSI" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Especialidad2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaEsp2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PolizasAnt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PolAnt1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoSocioEspanol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCedulaEspecialidad2_ABC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Especialidad2_ABC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoCredencializacionTecSalud" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecRetroactiva" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="MatriculaImss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CentroTrabajoImss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoContratoImss" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NoEmpleadoEnf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AdscripcionEnf" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PuestoEnf" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Origen_APP" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_emision_BitacoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_emision_BitacoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="get_catalogosSoapIn">
    <wsdl:part name="parameters" element="tns:get_catalogos" />
  </wsdl:message>
  <wsdl:message name="get_catalogosSoapOut">
    <wsdl:part name="parameters" element="tns:get_catalogosResponse" />
  </wsdl:message>
  <wsdl:message name="insert_EmisionSoapIn">
    <wsdl:part name="parameters" element="tns:insert_Emision" />
  </wsdl:message>
  <wsdl:message name="insert_EmisionSoapOut">
    <wsdl:part name="parameters" element="tns:insert_EmisionResponse" />
  </wsdl:message>
  <wsdl:message name="insert_emision_BitacoraSoapIn">
    <wsdl:part name="parameters" element="tns:insert_emision_Bitacora" />
  </wsdl:message>
  <wsdl:message name="insert_emision_BitacoraSoapOut">
    <wsdl:part name="parameters" element="tns:insert_emision_BitacoraResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="get_catalogos">
      <wsdl:input message="tns:get_catalogosSoapIn" />
      <wsdl:output message="tns:get_catalogosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_Emision">
      <wsdl:input message="tns:insert_EmisionSoapIn" />
      <wsdl:output message="tns:insert_EmisionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_emision_Bitacora">
      <wsdl:input message="tns:insert_emision_BitacoraSoapIn" />
      <wsdl:output message="tns:insert_emision_BitacoraSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_catalogos">
      <soap:operation soapAction="http://tempuri.org/get_catalogos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_Emision">
      <soap:operation soapAction="http://tempuri.org/insert_Emision" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_emision_Bitacora">
      <soap:operation soapAction="http://tempuri.org/insert_emision_Bitacora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_catalogos">
      <soap12:operation soapAction="http://tempuri.org/get_catalogos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_Emision">
      <soap12:operation soapAction="http://tempuri.org/insert_Emision" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_emision_Bitacora">
      <soap12:operation soapAction="http://tempuri.org/insert_emision_Bitacora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://desa.gmx.com.mx/WS_Database_Access_PVLs/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://desa.gmx.com.mx/WS_Database_Access_PVLs/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>